<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chat App</h1>
    <p>WE FINNA CHAT APP</p>
    <p>User Name: <input class='username'></p>
    <p>Send Message: </p><textarea class='message'></textarea><button class ='send'>Send</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
